<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
  <a routerLink="/home" data-toggle="pill" class="nav-link" routerLinkActive="active">Home</a>
  <a routerLink="/component" data-toggle="pill" class="nav-link" routerLinkActive="active">Components</a>
  <a routerLink="/databinding" data-toggle="pill" class="nav-link" routerLinkActive="active">Data Binding</a>
    <!-- <a routerLink="/databinding" routerLinkActive="active" class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a> -->
</div>